---
import { IconArrowDownRight } from "~/components/icons";
const {} = Astro.props;
---

<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <h2
        class="max-w-lg mb-4 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto"
      >
        Frequently Asked Questions
      </h2>
      <p>
        If your question is not answered below, feel free to contact me for
        further answers or information.
      </p>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-8 lg:gap-16 row-gap-8 md:grid-cols-2">
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            What do I need to provide?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            During our initial meeting, we will discuss the details of your
            project and design, for most sites all I will need is logo's,
            branding requirements and content.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            In regards to the content, I do have writers who can write the
            content at an additional cost.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            How much does a basic website cost?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Well, it depends. Websites can cost anywhere from £100-£500
            depending on features and the complexity of the project. However,
            monthly website hosting each month is set at £30.99.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Once a price is agreed upon, I will not increase the price for the
            duration of the project.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            I need an E-Com website, can you do this?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Short answer, Yes. However, in my expierence E-Com websites are
            quite complex and require a considerable amount of time to build.
          </p>
        </div>
      </div>
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            What is the best way to contact you?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            Check out the contact page to get in touch. Alternatively, you can
            reach me via <a href="mailto:daviesg77@gmail.com"> </a>
          </p><a href="mailto:daviesg77@gmail.com"> Email</a>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            How are consults done?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            All my consults are done through phone calls or Zoom. Typically, I
            like to host Consults in the evening.
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            I do not host consults on Monday's or Tuesday's.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-bold">
            <IconArrowDownRight class="w-7 h-7 text-blue-500 inline-block" />
            Do you use Squarespace or any other WISYWIG editor?
          </p>
          <p class="text-gray-700 dark:text-gray-400 mb-2">
            No, all my websites are built from the ground up using a variety of
            tech stacks such as Astro, WordPress, GatsbyJS and Netlify.
          </p>
        </div>
      </div><a href="mailto:daviesg77@gmail.com"> </a>
    </div><a href="mailto:daviesg77@gmail.com"> </a>
  </div><a href="mailto:daviesg77@gmail.com"> </a>
</div><a href="mailto:daviesg77@gmail.com"> </a>
